.container {
    color: var(--primary-color);

    .intro {
        /* 弹性布局  */
        display: flex;
        /* 交叉轴（y轴）居中对齐 */
        align-items: center;
        /* 主轴（x轴）居中对齐 */
        justify-content: center;
        width: 100%;
        height: 35.625rem;
        color: var(--primary-color);

        .textGroup {
            width: 29.625rem;

            .title {
                /* animation:  */
            }

            .text {
                /* 顶部外边距 */
                margin-top: 2.5rem;
                font-size: 1.125rem;
                line-height: 2rem;
                color: var(--primary-color);
                /* animation:  */
            }
        }

        .bodyIcon {
            /* animation:  */
            width: 38.9375rem;
            height: 34.625rem;
            background-image: var(--home-body-icon-clear-webp);
            /* 背景图像不会重复，覆盖默认的四方位重复 */
            background-repeat: no-repeat;
            /* 设置背景图像的起始位置 */
            background-position: 50%;
            background-size: 38.9375rem 34.625rem;
        }
    }

    .hierarchy {
        display: flex;
        /* 让弹性盒元素在必要的时候拆行 */
        flex-flow: wrap;
        justify-content: center;
        width: 100%;

        .yGroup {
            /* animation */
            display: flex;
            /* 列，垂直显示 */
            flex-direction: column;
            align-items: center;
            width: 12.5rem;
            margin-bottom: 2.375rem;

            .img {
                margin-bottom: 1rem;
            }

            .p {
                font-size: 1rem;
                line-height: 1.5rem;
                color: var(--primary-color);
            }
        }
    }

    .feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* 北向第一顺位，顺时针轮流，空缺由对向补齐 */
        padding: 5rem 10rem 6.25rem;

        .prospect {
            display: flex;
            align-items: center;
            /* 由首尾两边往中间排列 */
            justify-content: space-between;
            width: 100%;
            margin-bottom: 6.25rem;

            .headGroup {
                display: flex;
                flex-direction: column;

                .divide {
                    width: 20.5rem;
                    height: 0.0625rem;
                    margin: 0.5rem 0;
                    background: #26fec2;
                }
            }

            .btn {
                box-sizing: border-box;
                display: flex;
                align-items: center;
                width: 8.8125rem;
                height: 3.375rem;
                padding-left: 1.875rem;
                font-size: smaller;
                color: var(--primary-color);
                background: transparent;
                background-image: var(--arrow-right);
                background-repeat: no-repeat;
                background-position: 5.875rem 1.1875rem;
                background-size: 1.3125rem 0.75rem;
                border: 0.0625rem solid var(--primary-color);
                border-radius: 0.25rem;
                opacity: 0.6;
                transition: 0.3s;
            }
        }

        .featureContent {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            width: 100%;

            .singleOuter {
                /* @apply h-96 relative w-96; */
                position: relative;
                width: 25.625rem;
                height: 28.75rem;

                .singleMiddle {
                    position: absolute;
                    top: 1.875rem;
                    left: 2.5rem;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 20.625rem;
                    height: 25rem;
                    padding: 2.5rem 1.5rem;
                    background-color: var(--secondary-color-2);
                    background-image: var(--module-background);
                    background-repeat: no-repeat;
                    background-position: 50%;
                    background-size: 20.625rem 25rem;
                    border-radius: 1rem;
                    transition: margin-top 0.5s;

                    .singleInner {
                        display: flex;
                        flex-direction: column;
                        width: 18.25rem;

                        .h3 {
                            position: relative;
                            padding-left: 1.375rem;
                            margin-bottom: 2.5rem;
                            font-size: 1.5rem;
                            line-height: 1.5rem;
                            color: var(--primary-font-color);
                        }

                        .h3::before {
                            position: absolute;
                            top: 0.375rem;
                            left: 0.125rem;
                            width: 0.625rem;
                            height: 0.625rem;
                            content: '';
                            background-color: var(--secondary-color-10);
                        }

                        .p {
                            font-size: 1rem;
                            line-height: 2rem;
                            color: var(--primary-font-color);
                            opacity: 0.65;
                        }
                    }
                }
            }
        }

        .publicationsContent {
            display: flex;
            flex-direction: column;
            /* 位于y轴最上面 */
            align-items: flex-start;
            width: 100%;

            .a {
                width: 100%;
            }
        }
    }

    .technologyProduct {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 5rem 0 2.5rem;
        background-color: var(--secondary-color-11);

        .title {
            margin-bottom: 3.125rem;
            font-size: 2rem;
            line-height: 2.8125rem;
        }

        .content {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            width: 100%;

            .labelBasicA {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 8rem;
                margin: 0 2rem 2.375rem;
                cursor: pointer;
                background-color: var(--secondary-color-12);
                border-radius: 0.75rem;

                .nextLogoSpan {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 3rem;
                    height: 3rem;
                    background-image: var(--home-nextjs_icon);
                    background-repeat: no-repeat;
                    background-size: 2.4375rem 2.4375rem;
                    border: 0.3125rem solid #ecedef;
                    border-radius: 50%;

                    .nextLogoImg {
                        width: 3rem;
                        height: 3rem;
                    }
                }

                .nextLogoAppend {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 6rem;
                    height: 3rem;
                    margin-left: 1rem;
                    background-image: var(--home-nextjs_text);
                    background-repeat: no-repeat;
                    background-size: 5rem 3rem;
                }

                .logoText {
                    margin-left: 1rem;
                    font-size: 1.25rem;
                    font-weight: bold;
                    line-height: 32px;
                    /* 字符间距，负数间隔更小 */
                    letter-spacing: -0.18px;
                }

                .tailwindDiv {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .tailwindSvg {
                        width: auto;
                        height: 1.375rem;
                    }
                }
            }

            .labelPlus {
                cursor: default;
                background-color: inherit;
                opacity: 0.5;
            }
        }
    }

    .joinUs {
        padding: 5rem 0 7.5625rem;

        .up {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 45.125rem;
            margin: auto;
            text-align: center;

            .p {
                margin-bottom: 3.125rem;
                font-size: 1.5rem;
                line-height: 3rem;
                color: var(--primary-color);
                word-break: break-all;
                word-wrap: break-word;
            }

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 8.8125rem;
                height: 3.375rem;
                color: var(--primary-background-color);
                background: var(--button-color-2);
                border: none;
                border-radius: 0.25rem;
            }
        }

        .down {
            display: flex;
            justify-content: center;
            width: 100%;

            .bg {
                width: 70rem;
                height: 10.5625rem;
                margin-top: 3.625rem;
                background-image: var(--home-team-icon);
                background-repeat: no-repeat;
                background-position: 50%;
                background-size: 70rem 10.5625rem;
                transition: 0.5s;
            }
        }
    }
}

.container_feature_publicationsContent_a_divGroup {
    display: flex;
    width: 100%;
    max-width: 75rem;
    height: 19.5rem;
    padding: 1rem;
    margin-bottom: 7.5rem;
    cursor: pointer;
}

.container_feature_publicationsContent_a_divGroup_leftDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35rem;
    height: 17.5rem;
    margin-right: 5rem;
    overflow: hidden;
}

.container_feature_publicationsContent_a_divGroup_rightDiv {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 37rem);
    /* 允许在单词内换行 */
    word-break: break-all;
    /* 在长单词或 URL 地址内部进行换行 */
    word-wrap: break-word;
}

.container_feature_publicationsContent_a_divGroup_rightDiv_h2 {
    margin: 0 0 1rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3.125rem;
    color: var(--primary-color);
}

.container_feature_publicationsContent_a_divGroup_rightDiv_p {
    font-size: 1rem;
    line-height: 2rem;
    color: var(--secondary-color);
}
